rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rounds/{roundId} {
      allow read, write: if true;
    }
    match /scorecard-templates/{scorecardId} {
      allow read: if true;
      allow write: if true;
    }
    match /players/{playerId} {
      allow read: if true;
      allow write: if true;
    }
    match /tournaments/{tournamentId} {
      allow read: if true;
      allow write: if true;
    }
    match /appSettings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
